@model List<ResultContactDTO>

@foreach (var item in Model)
{
<div class="col-lg-6 ">
    <div class="row gy-4">

        <div class="col-lg-12">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>@item.Adress</p>
            </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>@item.Phone</p>
            </div>
        </div><!-- End Info Item -->

        <div class="col-md-6">
            <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>@item.Email</p>
            </div>
        </div><!-- End Info Item -->

    </div>
</div>
}
