@model CreateEmployeeDTO

@{
    ViewData["Title"] = "Create Employee Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<form method="post" asp-action="CreateEmployee" asp-controller="Employee" asp-area="Admin">
    <input type="hidden" asp-for="EmployeeId" />

    <label>Image Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />

    <label>First Name</label>
    <input type="text" asp-for="FirstName" class="form-control" />
    <br />

    <label>Last Name</label>
    <input type="text" asp-for="LastName" class="form-control" />
    <br />

    <label>Email</label>
    <input type="email" asp-for="Email" class="form-control" />
    <br />

    <label>Birth Date</label>
    <input type="date" asp-for="BirthDate" class="form-control" />
    <br />

    <label>Phone Number</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <br />

    <label>Address</label>
    <input type="text" asp-for="Address" class="form-control" />
    <br />

    <label>Department ID</label>
    <input type="number" asp-for="DepartmentId" class="form-control" />
    <br />

    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
