@model UpdateDepartmentDTO
@{
    ViewData["Title"] = "Update Depatment Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<form method="post">
    <input type="hidden" asp-for="DepartmentId" />

    <label>Department Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <label>Phone Number</label>
    <input type="text" asp-for="PhoneNumber" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Save</button>
</form>
