@{
    ViewData["Title"] = "Tables";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Table</th>
            <th>Department Table</th>
            <th>Employee Table</th>
        </tr>
    </thead>
    <thread>
        <th>#</th>
        <th></th>
        <th></th>
        <th></th>
    </thread>
</table>
