@model CalendarModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Calendar";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>

    <!-- FullCalendar CSS -->
    <link href="~/matrix-admin-master/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />

    <!-- jQuery UI CSS (opsiyonel, stil uyumu için) -->
    <link href="~/matrix-admin-master/assets/libs/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <!-- Matrix Admin Style (temaya bağlıysa gerekli) -->
    <link href="~/matrix-admin-master/dist/css/style.min.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="">
                    <div class="row">
                        <div class="col-lg-3 border-right p-r-0">
                            <div class="card-body border-bottom">
                                <h4 class="card-title m-t-10">Drag & Drop Event</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="calendar-events" class="">
                                            <div class="calendar-events m-b-20" data-class="bg-info"><i class="fa fa-circle text-info m-r-10"></i>Event One</div>
                                            <div class="calendar-events m-b-20" data-class="bg-success"><i class="fa fa-circle text-success m-r-10"></i> Event Two</div>
                                            <div class="calendar-events m-b-20" data-class="bg-danger"><i class="fa fa-circle text-danger m-r-10"></i>Event Three</div>
                                            <div class="calendar-events m-b-20" data-class="bg-warning"><i class="fa fa-circle text-warning m-r-10"></i>Event Four</div>
                                        </div>
                                        <!-- checkbox -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="drop-remove">
                                            <label class="custom-control-label" for="drop-remove">Remove after drop</label>
                                        </div>
                                        <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-event" class="btn m-t-20 btn-info btn-block waves-effect waves-light">
                                            <i class="ti-plus"></i> Add New Event
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="card-body b-l calender-sidebar">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/matrix-admin-master/assets/libs/jquery/dist/jquery.min.js"></script>

    <!-- jQuery UI (drag & drop için) -->
    <script src="~/matrix-admin-master/assets/libs/jqueryui/jquery-ui.min.js"></script>
    <script src="~/matrix-admin-master/dist/js/jquery.ui.touch-punch-improved.js"></script>

    <!-- moment.js -->
    <script src="~/matrix-admin-master/assets/libs/moment/min/moment.min.js"></script>

    <!-- FullCalendar JS -->
    <script src="~/matrix-admin-master/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>

    <!-- Calendar Başlatma -->
    <script>
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: moment().format('YYYY-MM-DD'),
                editable: true,
                events: []
            });
        });
    </script>
</body>
</html>
