@model List<ResultContactDTO>
@foreach (var item in Model)
{
    <div class="footer-contact pt-3">
        <p>@item.Adress</p>
        <p class="mt-3"><strong>Phone:</strong> <span>@item.Phone</span></p>
        <p><strong>Email:</strong> <span>@item.Email</span></p>
    </div>
}