
@{
    ViewData["Title"] = "Customer Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>

<a asp-area="Admin" asp-controller="About" asp-action="Index" class="btn btn-outline-primary">About Page</a>
<a asp-area="Admin" asp-controller="Banner" asp-action="Index" class="btn btn-outline-primary">Banner Page</a>
<a asp-area="Admin" asp-controller="BlogCategory" asp-action="Index" class="btn btn-outline-primary">Blog Category Page</a>
<a asp-area="Admin" asp-controller="Blog" asp-action="Index" class="btn btn-outline-primary">Blog Page</a>
<a asp-area="Admin" asp-controller="Client" asp-action="Index" class="btn btn-outline-primary">Client Page</a>
<a asp-area="Admin" asp-controller="Contact" asp-action="Index" class="btn btn-outline-primary">Contact Page</a>
<a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-outline-primary">Customer Page</a>
<a asp-area="Admin" asp-controller="Department" asp-action="Index" class="btn btn-outline-primary">Department Page</a>
<a asp-area="Admin" asp-controller="Employee" asp-action="Index" class="btn btn-outline-primary">Employee Page</a>
<a asp-area="Admin" asp-controller="FeaturedServices" asp-action="Index" class="btn btn-outline-primary">Featured Services Page</a>
<a asp-area="Admin" asp-controller="Message" asp-action="Index" class="btn btn-outline-primary">Message Page</a>
<a asp-area="Admin" asp-controller="Service" asp-action="Index" class="btn btn-outline-primary">Services Page</a>
<a asp-area="Admin" asp-controller="ServicesCategory" asp-action="Index" class="btn btn-outline-primary">Services Category Page</a>
<a asp-area="Admin" asp-controller="SocialMedia" asp-action="Index" class="btn btn-outline-primary">Social Media Page</a>
<a asp-area="Admin" asp-controller="Subscriber" asp-action="Index" class="btn btn-outline-primary">Subscriber Page</a>
<a asp-area="Admin" asp-controller="Testimonial" asp-action="Index" class="btn btn-outline-primary">Testimonial Page</a>

