@model List<ResultTestimonialDTO>

<section id="testimonials" class="testimonials section dark-background">

    <img src="~/Dewi-1.0.0/assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
            </script>
            <div class="swiper-wrapper">

                    @foreach (var item in Model)
                    {
                    <div class="swiper-slide">

                        <div class="testimonial-item">
                            <img src="@item.ImageUrl" class="testimonial-img" alt="">
                            <h3>@item.TestimonialName</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <div class="stars">
                                @for (int i = 0; i < item.Star; i++)
                                {
                                    <i class="bi bi-star-fill text-warning"></i>
                                }
                                @for (int i = item.Star; i < 5; i++)
                                {
                                    <i class="bi bi-star text-warning"></i>
                                }
                            </div>
                            <p>
                                <i class="bi bi-quote quote-icon-left"></i>
                                <span>@item.Comment.</span>
                                <i class="bi bi-quote quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                }
                
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </div>
</section>