@model CreateServiceDTO
@{
    ViewData["Title"] = "Create Service Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post" asp-action="CreateService" asp-controller="Service" asp-area="Admin">
    <input type="hidden" asp-for="ServiceID" class="form-control" />

    <label>Icon</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />

    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />

    <label>Description</label>
    <textarea asp-for="Description" class="form-control"></textarea>
    <br />

    <label>Service Category ID</label>
    <input type="number" asp-for="ServiceCategoryID" class="form-control" />
    <br />

    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
