@model CreateSubscriberDto
@{
    ViewData["Title"] = "Create Subscriber Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post" asp-action="CreateSubscriber" asp-controller="Subscriber" asp-area="Admin">
    <input type="hidden" asp-for="SubscriberId" class="form-control" />

    <label>Email</label>
    <input type="email" asp-for="Email" class="form-control" />
    <br />
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
