@model UpdateServicesCategoryDTO
@{
    ViewData["Title"] = "Update Service Category Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<form method="post" asp-action="UpdateServicesCategory" asp-controller="ServicesCategory" asp-area="Admin">
    <input type="hidden" asp-for="ServiceCategoryID" />

    <label>Name</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Save</button>
</form>
