
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Count</th> 
            <th>Department Count</th>     
            <th>Employee Count</th>
        </tr>
    </thead>
    <thread>
        <th>#</th>
        <th></th>
        <th></th>
        <th></th>
    </thread>
</table>
