@model CreateSocialMediaDto
@{
    ViewData["Title"] = "Create Social Media Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<title>@ViewData["Title"]</title>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}

<form method="post" asp-action="CreateSocialMedia" asp-controller="SocialMedia" asp-area="Admin">
    <input type="hidden" asp-for="SocialMediaId" class="form-control" />

    <label>Icon</label>
    <input type="text" asp-for="Icon" class="form-control" />
    <br />

    <label>Url</label>
    <input type="text" asp-for="Url" class="form-control" />
    <br />

    <label>Title</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Employee Id</label>
    <input type="number" asp-for="EmployeeID" class="form-control" />
    <br />
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
